@import "../../App.scss";

.gallery-section {
    height: 45rem;
    background-image: linear-gradient(180deg, rgba($color-secondary, .9)0%,
            rgba($color-secondary, .9)2.5%,
            rgba($color-secondary, .2)20%,
            transparent 30%, transparent 80%,
            rgba($color-secondary, .2)80%,
            rgba($color-secondary, .9)90%,
            rgba($color-secondary, 1)100%,
        ),
        url("../../assets/images/white-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    @media only screen and (max-width: $bp-largest) {
        height: 105vh;
    }

    @media only screen and (max-width: $bp-small) {
        grid-row: 3 / 4;
        padding-top: 5rem;
        display: grid;
        grid-template-rows: 60vh 95vh;
        height: 165vh;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 0 1rem;
        padding-top: 10rem;
        grid-template-rows: 55vh 85vh;
        height: 155vh;
    }

    &__content {
        background-image: linear-gradient(180deg, rgba($color-black, .4)0%,
                rgba($color-black, .4)100%), url("../../assets/images/gallery-bckgrndb.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 60%;
        margin-top: 9rem;
        box-shadow: 0 1rem 3rem black;
        padding-left: 12.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media only screen and (max-width: $bp-small) {
            grid-row: 1 / 2;
            align-items: center;
            padding-left: 0;
            height: 100%;
            margin-top: 0rem;
        }
    }

    h3 {
        font-size: 2rem;
        color: $color-secondary;

        @media only screen and (max-width: $bp-small) {
            margin-left: -12.5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-left: -15rem;
        }
    }

    h2 {
        font-size: 3.5rem;
        width: 80%;
        color: $color-secondary;
        margin-left: 2.5rem;
        font-weight: lighter;

        @media only screen and (max-width: $bp-small) {
            width: unset;
            margin-left: 5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: unset;
            margin-left: 2.5rem;
        }
    }

    .divider {
        background-color: $color-secondary;
        height: 1.5px;
        margin: 1rem 0;
        color: transparent;
        width: 35%;

        @media only screen and (max-width: $bp-small) {
            width: 50%;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 70%;
        }
    }

    &__text {
        line-height: 1.5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 1px;
        font-weight: lighter;
        color: $color-secondary;
        width: 29%;
        font-size: .85rem;

        @media only screen and (max-width: $bp-small) {
            width: 45%;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1rem;
            width: 70%;
        }
    }
}

.slide-container {
    position: absolute;
    right: 5rem;
    margin-top: 6rem;
    box-shadow: 0 1rem 3rem black;
    border-radius: 1rem;
    overflow: hidden;
    border: 1.5rem solid rgba($color-primary, .3);
    transition: all 1.3s;
    transform: translateX(55rem);

    @media only screen and (max-width: $bp-largest) {
        margin-top: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
        right: 0rem;
        grid-row: 2 / 3;
        position: relative;
        box-shadow: none;
    }
}

.react-slideshow-container {
    width: 44vw;

    @media only screen and (max-width: $bp-largest) {
        width: 47.5vw;
    }

    @media only screen and (max-width: $bp-small) {
        width: 100%;
    }

    .nav:first-child,
    .nav:last-child {
        width: 2.5rem;
        height: 2.5rem;

        @media only screen and (max-width: $bp-small) {
            width: 3.5rem;
            height: 3.5rem;
        }

        svg {
            width: 1.75rem;
            height: 1.75rem;
            fill: rgb(25, 25, 25);
        }
    }

    .nav:first-child {
        left: 1rem !important;

        @media only screen and (max-width: $bp-small) {
            left: .5rem !important;
        }
    }

    .nav:last-child {
        right: .5rem !important;

    }
}